body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background: #E1E1E2;
    margin: 0; /* Elimina márgenes predeterminados del cuerpo */
}

.wrapper {
    margin: 0 50px; /* Margen a ambos lados del contenido */
}

#banner{
    width: 95%;
}

#line{ width: 5%;}

#section{
    width: 90%;
}

#clients{
    width: 200px;
}

#contact{
    padding-top: 30px;
    width: 100%;
}

header{
    text-align: center;
    font-size: 100%;
    color:#E1E1E2;
    background-image: url("Imagenes/banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10%;
}

header h1{
    font-size:30px;
}

header p{
    font-style: italic;
}

p{
    text-align: center;
}

#preg{
    font-size: 20px;
    color: #64d952;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color:#55D54C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Canva Sans', sans-serif; /* Aplicando la tipografía Canva Sans */
  }
  
.button:hover {
background-color: #55D54C;
}  
  

.divisor{    
    display: flex;
    align-items: center; /* Para alinear verticalmente el contenido */
}

.margin-gif{    
    margin-right: 50px; /* Espacio entre la imagen y el texto */
}


.footer{
    color:#ffffff;
    background: #1f1f1f ;
    padding: 1px;
    font-size: 11px;
}


.items{
    font-style: italic;
    color: #64d952;
}

ul{
    display:inline-block;
    vertical-align: top;
    margin-right: 20%;
}

.pie1{
    width: 10%;
}

